body {
  background-color: #fff3cd;
  font-family: "Open Sans Condensed", sans-serif;
}

#gameArea {
  border: solid 1rem #fba746;
  border-radius: 5rem;
}

h1 {
  font-family: "Patua One";
  color: #4d3e3e;
}

h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Poppins", sans-serif;
}

#start {
  margin-right: 3rem;
}

p {
  font-size: 2rem;
}

audio {
  background-color: #fff3cd;
  visibility: hidden;
}

#start {
  margin-left: 2.5rem;
}

.title {
  font-size: 600%;
}

#intro {
  padding-bottom: 5rem;
}
#info {
  background-color: #9e7777;
  padding-bottom: 5rem;
}

.profile {
  width: 80%;
}

a {
  color: #11052c;
  margin-right: 1rem;
  font-size: 2rem;
}

a:hover {
  color: #ffb344;
}

.by {
  font-weight: bold;
  padding-top: 4rem;
  padding-left: 7rem;
}

.name {
  font-weight: bold;
}
