#gameArea {
  border: solid 1rem #fba746;
  border-radius: 5rem;
}

body {
  padding: 1.5rem;
  background-color: #fff3cd;
  font-family: "Open Sans Condensed", sans-serif;
}

h1 {
  font-family: "Patua One";
  color: #4d3e3e;
}

h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Poppins", sans-serif;
}

#start {
  margin-right: 3rem;
}

p {
  font-size: 2rem;
}

audio {
  background-color: #fff3cd;
}

#start {
  margin-left: 2.5rem;
}
